/ThreeInOne.class
/MyStack.class
/MyStack$StackNode.class
/MyQueue.class
/MyQueue$QueueNode.class
/FixedMultiStack.class
/StackMin.class
/StackOfPlates.class
/StackOfPlates$Stack.class
/StackOfPlates$StackPlates.class
/QueueViaStacks.class
/SortStack.class
